<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.singleo.springboot.app.dao.CompanyDao">
    <resultMap id="BaseResultMap" type="com.singleo.springboot.app.entity.Company">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="description" jdbcType="VARCHAR" property="description" />
    </resultMap>
    <sql id="Base_Column_List">
        id,name,description
    </sql>


    <select id="findAll" resultType= "com.singleo.springboot.app.entity.Company">

        SELECT
        <include refid="Base_Column_List"/>
        FROM company
    </select>
</mapper>